.main-footer {
    color: rgb(245, 241, 241);
    background-color: #141414;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
  }

h4{
    text-align:center;
}

h1 {
    font-size: 30px;
    color:crimson;
    font-family: 'Courier New';
    text-align: center;
    margin-top: -2%;
}

.col-sm{
    text-align: center;

}

.col{
    column-count: 2;
    text-align: center;
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}